<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <h1 th:text="${error}"></h1>
    <h1><a th:href="@{getProducts}">Back to main page</a></h1>
</body>
</html>