<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css">
</head>
<body>
<h1>ADMIN</h1>
<h3><a href="/user/getProducts">User page</a></h3>
<form th:action="@{/doLogout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<!--/*@thymesVar id="category" type="com.epam.model.Category"*/-->
<form th:action="@{addCategory}" th:object="${category}" method="post">
    <fieldset>
        Category name:
        <input type="text" th:field="*{nameOfCategory}" required>
        <br/>
        <input type="submit" value="Sumbit">
    </fieldset>
</form>
<!--/*@thymesVar id="product" type="com.epam.model.Product"*/-->
<form th:action="@{addProduct}" th:object="${product}" method="POST" enctype="multipart/form-data">
    <fieldset>
        Product name:
        <input type="text" th:field="*{nameOfProduct}" required/>
        <br/>
        Product description
        <input type="text" th:field="*{description}" required/>
        <br/>
        Product amount:
        <input type="number" th:field="*{amountOfProduct}" th:min="1" required/>
        <br/>
        Product price:
        <input type="number" th:field="*{price}" th:min="1" required/>
        <br/>
        Category:
        <select name="idCat" required="required">
            <option value="">Select Category</option>
            <option th:each="category: ${categories}"
                    th:value="${category.id}"
                    th:text="${category.id}+' : '+${category.nameOfCategory}">
            </option>
        </select>
        Image:
        <input type="file" name="file" required/>
        <br>
        <input type="submit" value="Submit"/>
    </fieldset>
</form>
<table>
    <tr>
        <th>IMAGE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>AMOUNT</th>
        <th>CATEGORY</th>
    </tr>
    <!--/*@thymesVar id="products" type="java.util.List"*/-->
    <!--/*@thymesVar id="prod" type="com.epam.model.Product"*/-->
    <tr th:each="prod : ${products}">
        <td><img th:src="@{/img/{fileN}(fileN=${prod.filename})}" width="100" height="111"></td>
        <td th:text="${prod.nameOfProduct}"></td>
        <td th:text="${prod.description}"></td>
        <td th:text="${prod.price}"></td>
        <td th:text="${prod.amountOfProduct}"></td>
        <td th:text="${prod.category.nameOfCategory}"></td>
        <td>
            <form method="post" th:action="@{deleteProduct}" style="display:inline;">
                <input type="hidden" name="id" th:value="${prod.id}">
                <input type="submit" value="Delete">
            </form>
        </td>
        <td>
            <a th:href="@{updatePage(id=${prod.id})}">Edit</a>
        </td>
    </tr>
</table>


</body>
</html>