<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css">
</head>
<body>
<h3><a th:href="@{getProducts}">Back to main page</a> </h3>
<table>
    <tr>
        <th>IMAGE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>STOCK QUANTITY</th>
        <th>CATEGORY</th>
        <th>BYE</th>
    </tr>
    
    <!--/*@thymesVar id="baskets" type="List"*/-->
    <tr th:each="basket : ${baskets}">
        <td>
        <img th:src="@{/img/{fileN}(fileN=${basket.product.filename})}" width="100" height="111"></td>
        <td th:text="${basket.product.nameOfProduct}"></td>
        <td th:text="${basket.product.description}"></td>
        <td th:text="${basket.product.price}"></td>
        <td th:text="${basket.product.amountOfProduct}"></td>
        <td th:text="${basket.product.category.nameOfCategory}"></td>
        <td>

            <form method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${basket.product.id}">
                <input type="number" name="amount" th:value="${basket.amount}"
                       required th:min="1" th:max="${basket.product.amountOfProduct}">
                <input type="submit" value="Buy" th:formaction="@{buy}">
                <input type="submit" value="Delete" th:formaction="@{delete}">
            </form>
        </td>
    </tr>
</table>
</body>
</html>