<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/form.css}" type="text/css">
</head>
<body>
<form th:action="@{/sign_up}" method="post">
    <fieldset class="account-info">
        <h1>Please Sign Up</h1>
        <label>
            Name of user
            <input type="text" name="username" id="username"
                   placeholder="Username" required="required"/>
        </label>
        <label>
            Password
            <input type="password" name="password" id="password"
                   placeholder="Password" required="required"/>
        </label>
    </fieldset>
    <fieldset class="account-action">
        <input type="hidden" name="role" value="ROLE_USER">
        <input class="btn" type="submit" name="submit" value="Sign Up">
        <label>
            <h3><a href="/login">Login</a></h3>
        </label>
    </fieldset>
</form>
<!--/*@thymesVar id="error" type="java.lang.String"*/-->
<h1 th:text="${error}"></h1>
</body>
</html>