<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book edit</title>
</head>
<body>
<!--/*@thymesVar id="product" type="com.epam.model.Product"*/-->
<img th:src="@{/img/{fileN}(fileN=${product.filename})}" width="100" height="145">

<h3>
    New values:
</h3>
<form th:action="@{updateProduct}" th:object="${product}" method="POST" enctype="multipart/form-data">
    <fieldset>
        <input type="hidden" name="id" th:field="*{id}" >
        Product name:
        <input type="text" th:field="*{nameOfProduct}" required/>
        <br/>
        Product description
        <input type="text" th:field="*{description}" required/>
        <br/>
        Product amount:
        <input type="number" th:field="*{amountOfProduct}" required th:min="1">
        <br/>
        Product price:
        <input type="number" th:field="*{price}" required th:min="1"/>
        <br/>
        Category:
            <select  name="idCat" required>
                Select Test Order
                <option th:value="${cat.id}" th:text="${cat.nameOfCategory}" selected></option>
                <option th:each="category: ${categories}"
                        th:value="${category.id}"
                        th:text="${category.id}+' : '+${category.nameOfCategory}">
                </option>
            </select>
        Image:
        <input type="file" name="file" required/>
        <br>
        <input type="submit" value="Submit"/>
    </fieldset>
</form>
<h3><a th:href="@{getAll}">Go to admin page</a></h3>
</body>
</html>