<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/form.css}" type="text/css">
    <script>
        function isEmail(str) {
            var status = document.getElementById("status");
            status.innerHTML = str;
        }
    </script>
    <style>
        div {
            width: 250px;
            height: 50px;
            margin: 10px;
        }
    </style>
</head>

<body>
<h1>USER PAGE</h1>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/doLogout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div sec:authorize="hasRole('ADMIN')">
    <h3><a href="/admin/getAll">Admin page</a></h3>
</div>
<form th:action="@{getProducts}" method="get">
    <fieldset class="account-info">
    <select name="idCat" required="required">
        <option value="">Select Category</option>
        <option th:each="category: ${categories}"
                th:value="${category.id}"
                th:text="${category.id}+' : '+${category.nameOfCategory}">
        </option>
        <option value="-1">All</option>
    </select>
    </fieldset>
    <fieldset class="account-action">
    <input class="btn" type="submit" value="Submit">
    </fieldset>
</form>
<div id="test">
    <span id="status"></span>
</div>
<div>
    <h3><a th:href="@{showBasket}">Show your basket</a></h3>
</div>
<table>
    <tr>
        <th>IMAGE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>AMOUNT</th>
        <th>CATEGORY</th>
    </tr>
    <!--/*@thymesVar id="products" type="java.util.List"*/-->
    <tr th:each="prod : ${products}"
        th:if="${prod.amountOfProduct} > 0">
        <td><img th:src="@{/img/{fileN}(fileN=${prod.filename})}" width="100" height="111"></td>
        <td th:text="${prod.nameOfProduct}"></td>
        <td>
            <input type="button" value="Show"
                   th:onclick="'javascript:isEmail(\'' + ${prod.description} +'\');'">
        </td>
        <td th:text="${prod.price}"></td>
        <td th:text="${prod.amountOfProduct}"></td>
        <td th:text="${prod.category.nameOfCategory}"></td>
        <td>
            <form method="post" th:action="@{addToBasket}" style="display:inline;">
                <input type="hidden" name="id" th:value="${prod.id}">
                <input type="submit" value="Add to basket">
            </form>
        </td>
    </tr>
</table>
</body>
</html>